<div
  class="navbar navbar-expand-md bg-secondary-subtle text-secondary border-start border-end border-bottom {% unless layout.hero %}border-top rounded-top{% endunless %} rounded-bottom mb-3"
>
  <div class="container-fluid px-3">
    <a class="navbar-brand fw-bold" href="{{ site.url }}/">{{ site.title }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar" role="navigation">
      <ul class="navbar-nav mr-auto">
        {% for path in site.nav_pages %} {% assign nav_page=site.pages |
        where:"path",path | first %}
        <li class="nav-item">
          <a
            href="{{ nav_page.url | relative_url }}"
            class="nav-link{% if page.url == nav_page.url %} active{% endif %}"
          >
            {{ nav_page.title | default: "Posts" }}
          </a>
        </li>
        {% endfor %}
        <li class="nav-item">
          <a
            href="https://downardo.com"
            target="_blank"
            rel="noopener"
            class="nav-link"
          >
            Old website
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://community.dynamics.com/blogs/?blogid=8fa5d43d-0cb9-ee11-a568-6045bdeb8873&groupid=bcac2008-9686-ef11-ac21-7c1e520a09df"
            target="_blank"
            rel="noopener"
            class="nav-link"
          >
            Microsoft Blog
          </a>
        </li>
      </ul>
    </div>

    <span class="navbar-text text-end"> {{ site.description }} </span>
  </div>
</div>
