name: Build assets

on:
  push:
    branches: [main]
    paths:
      - .github/**
      - sass/**
      - js/**
      - Gemfile
      - package.json
      - package-lock.json
      - webpack.config.ts

  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: install packages
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install -y libgsl0-dev libmagick++-dev
          which gsl-config

      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'npm'

      - name: script/bootstrap
        run: script/bootstrap

      - name: script/update
        run: script/update

      - name: script/build
        run: script/build

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: Update dependencies
          title: Update dependencies
