name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: install packages
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install -y libgsl0-dev libmagick++-dev
          which gsl-config

      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'npm'

      - name: script/bootstrap
        run: script/bootstrap

      - name: script/cibuild
        run: script/cibuild

      - uses: actions/upload-artifact@v6
        with:
          name: build
          path: _site
          retention-days: 1

  lighthouse:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v6
        with:
          name: build
          path: _site

      - name: Use Node.js 20.x
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'npm'

      - name: run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.8.x
          lhci autorun
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
